{{ define "main" }}
<div class="home">
{{ partial "components/featured-slider/section.html" . }}
{{ partial "components/editorial-slider/section.html" . }}

<section class="section" id="posts">
  <div class="title-badge">
    <h3 class="title-badge-text">Latest Articles</h3>
  </div>
  <div>
    {{ $paginator := .Paginate ( where .Site.RegularPages "Type" "post" ) }}
    <div class="row">
      {{ range $paginator.Pages }}
        {{ partial "components/post-item/main.html" . }}
      {{ end }}
    </div>
    {{ partial "components/homepage/paginator.html" . }}
  </div>
</section>
<!-- /blog post -->
</div>
{{ end }}