{{ define "main" }}
<!-- category post -->
<section class="section">
  <div class="container">
    <div class="row">
      <div class="offline-container col-lg-12 mt-5">
        <div class="offline-icon">
          {{ $icon := resources.Get "icons/hero/outline/shield-exclamation.svg" }}
          {{ $icon.Content | safeHTML }}
        </div>
        <div class="offline-center">
          <h4>You are Offline</h4>
          <span>Go online to continue browsing Perpetual Today. Check your internet connection.</span>
        </div>
        <div class="offline-center">
          <a href="/" class="btn btn-primary">Refresh</a>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- /category post -->

{{ end }}