
.offline-icon {
  margin: auto;
  width: 152px;
  height: 152px;
  color: $primary-color;
}

.offline-center {
  display: block;
  padding-top: 24px;
  margin: auto;
  text-align: center;
}

.offline-container {
  padding-top: 2px;
  margin-bottom: 92px;
}
