{{ define "main" }}

{{ partial "photoswipe.html" . }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto">
      <a href="/categories/students-voice" class="article-author-link">
        <div class="editorial-badge">
          <img src="/images/editorial-badge.svg" class="editorial-badge" />
        </div>
       </a>
        <h2>{{ .Title | markdownify }}</h2>
                <div class="mb-3 post-meta">
                  {{ $authors := partialCached "func/GetArticleAuthors" . .File.UniqueID }}
                  {{ if eq (len $authors) 1 }}
                      {{ with $author := index $authors 0 }}
                        <a href="{{ .URL }}" class="article-author-link">
                            {{ with .avatar }}
                                <div class="editorial-image">
                                    <img src="{{ . }}" class="editorial-image rounded-circle" />
                                </div>
                            {{ end }}
                            {{ with .name }}
                            <strong>{{ . }}</strong>
                            {{ end }}
                        </a>
                      {{ end }}
                  {{ else }}
                    {{ range $index, $author := $authors }}
                            <a href="{{ .URL }}">
                                <strong class="article-author-name-open">{{ .name }}</strong>
                            </a>
                            {{ if ne (add $index 1) (len $authors) }}|{{ end }}
                        </li>
                    {{ end }}
                  {{ end }}
                  
                  {{ if .Params.date }}

                  {{ if .Params.authors }}
                  <span> · </span>
                  {{ end }}

                  <span>{{ .PublishDate.Format "02 January 2006" }}</span>
                  {{ end }}

                  {{ if eq .Params.lastmod .Params.date }}
                      <span></span>
                  {{ else }}
                      <span>(Last updated {{ .Lastmod.Format "02 January 2006" }})</span>
                  {{ end }}
                </div>
        {{ if .Params.image }}
        <img src="{{ .Params.Image | absURL }}" class="img-fluid w-100 mb-4" alt="{{ .Title | markdownify }}">
                  {{ if .Params.credit }}
                  <i class="photo-credit"><span><strong>Photo by</strong> {{ .Params.credit }}</span></i>
                  {{ end }}
        {{ end }}
        <div class="content mb-5">
          {{ .Content }}
        </div>
        <h3 class="footer-next-heading">Comments</h3>
        <!-- comments -->
        {{ template "_internal/disqus.html" . }}
        {{ partial "article/next-editorial.html" . }}
      </div>
    </div>
  </div>
</section>
{{ end }}