<div>
    <div class="social-icon-container">
        {{ if .Params.facebook }}
              <a class="col-sm-4 social-item" href="//fb.me/{{ .Params.facebook }}"><i class="ti-facebook"></i></a>
        {{ end }}
        {{ if .Params.twitter }}
              <a class="col-sm-4 social-item" href="//twitter.com/{{ .Params.twitter }}"><i class="ti-twitter"></i></a>
        {{ end }}
        {{ if .Params.instagram }}
              <a class="col-sm-4 social-item" href="//instagr.am/{{ .Params.instagram }}"><i class="ti-instagram"></i></a>
        {{ end }}
        {{ if .Params.email }}
              <a class="col-sm-4 social-item" href="mailto:{{ .Params.email }}"><i class="ti-email"></i></a>
        {{ end }}
    </div>
</div>