<!DOCTYPE html>
<html lang="{{ with .Site.LanguageCode }}{{ . }}{{ else }}en-US{{ end }}">
    {{- partial "head.html" . -}}
    <body id="full-page">
        <anchor class="top-content" id="top-content"></anchor>
        {{- partial "components/preloader.html" . -}}
        {{- partial "header.html" . -}}
        <div id="fb-root"></div>
        <content id="content">
        {{- block "main" . }}{{- end }}
        <anchor id="bottom-content"></anchor>
        </content>
        {{- partial "footer.html" . -}}
        {{- partial "javascript.html" . -}}
    </body>
</html>