{{ define "main" }}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v7.0&appId=610430409741888&autoLogAppEvents=1"></script>
<section class="article-title-container" id="article">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        {{ range .Params.Categories }}
        <a href="{{ `categories/` | relLangURL }}{{ . | urlize | lower }}" class="post-category mb-2">{{ . }}</a>
        {{ end }}
        <h4 class="text-dark mt-4 mb-4">{{ replace .Title "#TodayIKnew: " " "}}</h4>
        <ul class="list-inline d-flex justify-content-between mb-4">
          {{ partial "functions/article-author-list.html" . }}
          {{ $icon := resources.Get "icons/hero/outline/calendar.svg" }}
          <li class="list-inline-item"><div class="minicon mr-2">{{ $icon.Content | safeHTML }}</div>{{ .PublishDate.Format "Jan 02, 2006" }}</li>
        </ul>
      </div>
    </div>
  </div>
</section>

<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8">
        <article class="py-3 content">
          <img src="/assets/images/img-placeholder.png" data-src="{{.Params.Image | absURL }}?nf_resize=fit&w=450&h=300" alt="post-thumb" class="image-placeholder img-fluid lazy rounded mr-5 mb-4">
          {{ if .Params.credit }}
          <i class="list-inline-item"><span><strong>Photo by</strong> {{ .Params.credit }}</span></i>
          {{ end }}
          {{.Content}}
        </article>
      </div>
      {{partial "sidebar.html" . }}
    </div>
  </div>
</section>
<section class="section">
  <div class="container mb-4">
    <div class="row">
      <div class="col-lg-12">
        <h4 class="mb-2">Comments</h4>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <div class="fb-comments" data-href="{{ .Permalink }}" data-numposts="10" data-width="50%"></div>
      </div>
    </div>
  </div>
</section>
{{ end }}