/*  typography */
@import url('https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700&display=swap');

@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-ExtraLight.woff2) format('woff2'),
       url(/assets/fonts/Manrope-ExtraLight.woff) format('woff');
  font-weight: 200;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-Light.woff2) format('woff2'),
       url(/assets/fonts/Manrope-Light.woff) format('woff');
  font-weight: 300;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-Regular.woff2) format('woff2'),
       url(/assets/fonts/Manrope-Regular.woff) format('woff');
  font-weight: 400;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-Medium.woff2) format('woff2'),
       url(/assets/fonts/Manrope-Medium.woff) format('woff');
  font-weight: 500;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-SemiBold.woff2) format('woff2'),
       url(/assets/fonts/Manrope-SemiBold.woff) format('woff');
  font-weight: 600;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-Bold.woff2) format('woff2'),
       url(/assets/fonts/Manrope-Bold.woff) format('woff');
  font-weight: 700;
}
@font-face {
  font-family: Manrope;
  src: url(/assets/fonts/Manrope-ExtraBold.woff2) format('woff2'),
       url(/assets/fonts/Manrope-ExtraBold.woff) format('woff');
  font-weight: 800;
}

body {
  line-height: 1.2;
  font-family: $text-font;
  -webkit-font-smoothing: antialiased;
  font-size: 15px;
  color: $text-color;
}

p, .paragraph {
  font-weight: 500;
  color: $text-color;
  font-size: 15px;
  line-height: 1.7;
  font-family: $text-font;
}

.post-meta {
  font-weight: 800;
  font-family: $text-font;
}
.category-text {
  font-weight: 700;
  font-family: $text-font;
}

h1,h2,h3,h4,h5,h6 {
  color: $text-color-dark;
  font-family: $text-font;
  font-weight: 700;
  line-height: 1.5;
}

a{
  &.h1,&.h2,&.h3,&.h4,&.h5,&.h6{
    color: $text-color-dark;
    font-family: $header-font;
    font-weight: 700;
  }
}

h1, .h1{
  font-size: 45px;
  margin-top: 12px;
}

h2, .h2{
  font-size: 36px;
  margin-bottom: 12px;
}

h3, .h3{
  font-size: 28px;
}

h4, .h4{
  font-size: 22px;
}

h5, .h5{
  font-size: 18px;
}

h6, .h6{
  font-size: 16px;
}
