{{ define "main" }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <img src="{{ .Params.image | absURL }}" class="img-fluid w-100 mb-4">
        <h2 class="font-weight-light mb-4">We are <span class="font-weight-bold">Perpetual Today</span></h2>
        {{ .Content }}
      </div>
    </div>
  </div>
</section>
{{ if .Site.Data.about.enable }}
{{ with .Site.Data.about }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h3 class="font-weight-light mb-4">Current <span class="font-weight-bold">Officers</span></h3>
      </div>
    </div>
  </div>
  </section>
  <section>
    <div class="container">
      <div class="row">
        <div class="col-3 mx-auto">
          <img src="{{ .adviser.photo | absURL}}" class="about-adviser-photo img-fluid d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .adviser.name}}</h5>
          <p class="text-center">Adviser</p>
        </div>
      </div>
    </div>
  </section>
  <section class="section-sm">
    <div class="container">
      <div class="row my-4">
        <div class="col-3 mx-auto">
          <img src="{{ .eic.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .eic.name}}</h5>
          <p class="text-center">Editor-in-Chief</p>
        </div>
        <div class="col-3 mx-auto">
          <img src="{{ .associate.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .associate.name}}</h5>
          <p class="text-center">Associate Editor</p>
        </div>
        <div class="col-3 mx-auto">
          <img src="{{ .copyreader.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .copyreader.name}}</h5>
          <p class="text-center">Copyreader</p>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-3">
          <img src="{{ .layoutartist.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .layoutartist.name}}</h5>
          <p class="text-center">Chief Layout Artist</p>
        </div>
        <div class="col-3">
          <img src="{{ .associatelayout.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .associatelayout.name}}</h5>
          <p class="text-center">Assoc. Layout Artist</p>
        </div>
        <div class="col-3">
          <img src="{{ .artist.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .artist.name}}</h5>
          <p class="text-center">Chief Artist</p>
        </div>
        <div class="col-3">
          <img src="{{ .associateartist.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .associateartist.name}}</h5>
          <p class="text-center">Assoc. Artist</p>
        </div>
      </div>
      <div class="row my-4">
        <div class="col-3">
          <img src="{{ .photojourn.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .photojourn.name}}</h5>
          <p class="text-center">Head Photojournalist</p>
        </div>
        <div class="col-3">
          <img src="{{ .associatephotojourn.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .associatephotojourn.name}}</h5>
          <p class="text-center">Assoc. Photojournalist</p>
        </div>
        <div class="col-3">
          <img src="{{ .scitech.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .scitech.name}}</h5>
          <p class="text-center">Head Sci-Tech Writer</p>
        </div>
        <div class="col-3">
          <img src="{{ .editorial.photo | absURL}}" class="about-officer-photo d-block mx-auto rounded-circle mb-4">
          <h5 class="text-center">{{ .editorial.name}}</h5>
          <p class="text-center">Head Editorial Writer</p>
        </div>
      </div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}