{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">
        <img src="/images/logo.png" alt="" class="brand-logo-about img-fluid d-block mx-auto mb-4">
        <h4 class="title">Page Not Found</h4>
        <div class="content">
          If you typed in the address, make sure it's correct. If you clicked a link from a different website or a bookmark, the link may have been moved or deleted.
<br><br>
          Click <a href=/>here</a> to go back to the home page.
        </div>
      </div>
    </div>
  </div>
</section>

{{ end }}