{{ define "main" }}

<!-- page-title -->
<section class="section bg-light">
  <div class="container">
    <div class="row">
      <div class="col-lg-12">
        <h4>{{.Title}}</h4>
      </div>
    </div>
  </div>
</section>
<!-- /page-title -->

<!-- category post -->
<section>
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mt-5">
        {{ $paginator := .Paginate .Site.RegularPages }}
        <div class="row masonry-container">
          {{ range $paginator.Pages }}
          <div class="col-sm-6 mb-5">
            <article class="text-center">
              <img class="img-fluid mb-4" src="{{.Params.Image | absURL }}" alt="post-thumb">
              <p class="text-uppercase mb-2">{{ .Params.Categories }}</p>
              <h4 class="title-border"><a class="text-dark" href="{{.Permalink}}">{{.Title}}</a></h4>
              <p>{{ .Summary }}</p>
              <a href="{{.Permalink}}" class="btn btn-transparent">read more</a>
            </article>
          </div>
          {{ end }}
        </div>
        {{ partial "components/homepage/paginator.html" . }}
      </div>
      <!-- /blog post -->
      {{ partial "sidebar.html" . }}
    </div>
  </div>
</section>
<!-- /category post -->

{{ end }}