<section class="editorial-section">
  <a href="/categories/students-voice">
    <div class="editorial-slider-container">
      <div class="editorial-title-badge">
        <h3 class="editorial-title-badge-text">STUDENT'S VOICE</h3>
        <span class="mobile-hide editorial-title-badge-subtext">The voice of the Perpetualite.</span>
      </div>
    </div>
  </a>

  <div class="editorial-slider">
    <div class="glide__track" data-glide-el="track">
      <ul class="glide__slides">
          {{ range first 6 (where .Site.RegularPages "Type" "editorial")}}
            {{ partial "components/editorial-slider/item.html" . }}
          {{ end }}
      </ul>
    </div>
  </div>
</section>