<div class="col-sm-6 mb-5 placeholders">
	<article class="placeholder wave">
		<div class="image-placeholder mb-4 img-fluid">
			<div class="content"></div>
		</div>
		<li class="list-inline-item"><div class="author-line"></div></li>
		<div class="post-title-container"><div class="title-line h4"></div></div>
		<div class="summary-line"></div>
		<div class="summary-line"></div>
		<div class="summary-line"></div>
		<div class="summary-line-short"></div>
	</article>
</div>
<div class="hide col-sm-6 mb-5 articles">
	<article>
		<a href="{{.Permalink}}">
			<img class="img-fluid mb-4 rounded lazy" src="{{.Params.Image | absURL }}?nf_resize=fit&w=3&h=2" data-src="{{.Params.Image | absURL }}" />
		</a>
		<li class="item-block list-inline-item">{{ partial "functions/author-name.html" . }}</li>
		<h4 class="post-title-container"><a class="text-dark" href="{{.Permalink}}">{{ replace .Title "#TodayIKnew: " " "}}</a></h4>
		<p>{{.Summary}} <a href="{{.Permalink}}">Read More</a></p>
	</article>
</div>