{{ define "main" }}

<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="col-lg-8 mx-auto text-center">

        <h1>{{ .Title | markdownify }}</h1>
        <h4 class="about-title">verbatim et veritas</h4>

        {{ if .Params.Image }}
        <img src="{{ .Params.Image | absURL }}" alt="" class="brand-logo-about img-fluid d-block mx-auto mb-4">
        {{ end }}
        <div class="content">
          {{ .Content }}
        </div>
      </div>
    </div>
  </div>
</section>

{{ if .Site.Data.about.enable }}
{{ with .Site.Data.about }}
<section>
  <div class="container-fluid px-0">
    <div class="row no-gutters">
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image1 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image2 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image3 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image4 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image5 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image6 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image7 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image8 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image8 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image10 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(1, 87, 155, 0.45), rgba(1, 87, 155, 0.45)), url({{ .image11 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
      <div class="col-lg-2 col-md-3 col-sm-4 col-6">
        <img class="img-fluid w-100"
            style="background: linear-gradient(rgba(255, 193, 7, 0.45), rgba(255, 193, 7, 0.45)), url({{ .image12 | absURL}}); height: 200px; width: 200px; object-fit: cover; border-width: 0px; border: 0;" alt="">
      </div>
    </div>
  </div>
</section>
{{ end }}
{{ end }}

{{ if .Site.Data.about.enable }}
{{ with .Site.Data.about }}
<section class="section-sm">
  <div class="container">
    <div class="row">
      <div class="header-about col-lg-8 mx-auto text-center">

        <h2>Current Officers</h2>

        <img src="{{ .Params.Image | absURL }}" alt="" class="officer-photo-about img-fluid d-block mx-auto mb-4">
      </div>
    </div>
  </div>

<section>
  <div class="container-fluid px-0">
    <div class="row no-gutters">

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .adviser.photo | absURL}}" alt="" class="officer-photo-adviser-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .adviser.name}}</h5>
        <p>Adviser</p>
      </div>

    </div>
  </div>
</section>

<section>
  <div class="container-fluid px-0">
    <div class="row no-gutters">

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .eic.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .eic.name}}</h5>
        <p>Editor-in-Chief</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .associate.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .associate.name}}</h5>
        <p>Associate Editor</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .copyreader.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .copyreader.name}}</h5>
        <p>Copyreader</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .layoutartist.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .layoutartist.name}}</h5>
        <p>Chief Layout Artist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .associatelayout.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .associatelayout.name}}</h5>
        <p>Assoc. Layout Artist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .artist.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .artist.name}}</h5>
        <p>Chief Artist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .associateartist.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .associateartist.name}}</h5>
        <p>Assoc. Artist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .photojourn.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .photojourn.name}}</h5>
        <p>Head Photojournalist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .associatephotojourn.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .associatephotojourn.name}}</h5>
        <p>Assoc. Photojournalist</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .scitech.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .scitech.name}}</h5>
        <p>Head Sci-Tech Writer</p>
      </div>

      <div class="officer-column col-lg-2 col-md-3 col-sm-4 col-6">
        <img src="{{ .editorial.photo | absURL}}" alt="" class="officer-photo-about img-fluid d-block mx-auto rounded-circle mb-4">
        <h5 class="officer-name">{{ .editorial.name}}</h5>
        <p>Head Editorial Writer</p>
      </div>

    </div>
  </div>
</section>
</section>
{{ end }}
{{ end }}

{{ end }}